page {
  max-width: 980px;
}

body {
  /*background-color: #bde5a4;*/
  /*background-image: url("images/39040435-mint-green-wallpapers.jpg");*/
  width: 980px;
  max-width: 980px;
  margin: 0 auto;
  color: #3d3d3d;
}

h1 {
  font-family: 'Cinzel', serif;
  letter-spacing: 3px;
  margin-bottom: 0px;
}

h3 {
  margin-top: 5px;
  font-family: 'Cinzel', serif;
  letter-spacing: 3px;
}

.image-wrapper {
  display: inline-block;

}

img {
  width: 300px;
  max-width: 300px;
  display: inline-block;
  /*max-width: 500px;
  max-height: 500px;*/
  margin: 0 auto;
  padding: 0 7px;
}

.heading {
  margin: 50px 0 -10px 0;
  letter-spacing: 2px;
}

figcaption {
  font-style: italic;
}

.content {
  text-align: center;
  display: inline-block;
  position: relative;
  width: 100%;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 125%;
}

#four {

}

.text {
  font-family: 'Josefin Sans', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  display: inline-block;
  padding: 0 40px;
  text-align: justify;
}
