@font-face {
  font-family: 'Calibri';
  src: url('Calibri\ Regular.ttf');
}
@font-face {
  font-family: 'Calibri Light';
  src: url('Calibri\ Light.ttf');
}
@font-face {
  font-family: 'Lucida Calligraphy';
  src: url('LCALLIG.ttf');
}

body {
  margin: 10px;
  text-align: center;
  font-family: 'Calibri';
}

.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-header .header-left-container img {
  border: 3px solid red;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-header .header-right-container {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.top-header h1 {
  text-transform: uppercase;
  color: red;
  font-family: 'Calibri Light';
  font-weight: 500;
}

.title-header h2 {
  font-family: 'Lucida Calligraphy';
  src: local('LCALLIG.ttf');
  font-weight: 400;
  font-size: 40px;
  margin: 20px 0;
}

main, footer {
  margin: 0 auto;
  width: 35%;
}

main article p {
  margin: 0;
}

.cta {
  margin: revert;
}

.same-line {
  display: flex;
  justify-content: space-between;
}

.same-line p {
  margin: 0;
}

.left {
  text-align: left;
}

@media only screen and (max-width: 640px) {
  .top-header .header-left-container {
    width: initial;
    height: initial;
    align-self: center;
  }

  .top-header .header-right-container {
    width: 100%;
  }
  .top-header .header-right-container h1 {
    font-size: 21px;
  }

  .top-header .header-right-container p {
    font-size: 13px;
  }

  main, footer {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .top-header .header-left-container {
    width: 23%;
    height: 23%;
  }
}
